apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tomcat
  namespace: tomcat-test
spec:
  ingressClassName: nginx
  rules:
  - host: tomcat-test.staging.platform.zhukovsd.it
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: tomcat
            port:
              number: 80